Repository gemini-hlsw/lucuma-schemas, pull requests merged in 2023-06, with the labels that each got.

#288 Migrate to new sequence model and decoders in lucuma-odb library
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/AngleSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BandBrightnessSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BandNormalizedSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/EmissionLinesSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/OffsetSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/TimeSpanSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/UnnormalizedSEDSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/WavelengthSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  lucuma-schemas/src/test/resources/generatedSequence1.json
  lucuma-schemas/src/test/resources/generatedSequenceQuery.graphql
  lucuma-schemas/src/test/resources/manualSequence1.json
  lucuma-schemas/src/test/resources/manualSequenceQuery.graphql
  lucuma-schemas/src/test/resources/t2.json
  lucuma-schemas/src/test/resources/t3.json
  lucuma-schemas/src/test/resources/t4.json
  lucuma-schemas/src/test/resources/v1.json
  lucuma-schemas/src/test/resources/visitsQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/GeneratedSequenceDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ManualSequenceDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ExposureTimeModeDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/PosAngleDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ProposalDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/SEDDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/SequenceDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/SourceProfileDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/SpectralDefinitionDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/TargetDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/TimingWindowDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/package.scala
  model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
Labels: lucuma-schemas, model

#291 Small adjustments
  lucuma-schemas/src/test/resources/generatedSequence1.json
  lucuma-schemas/src/test/resources/generatedSequenceQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/GeneratedSequenceDecodersSuite.scala
Labels: lucuma-schemas

#294 Update scala and apply linting rules
  .github/workflows/ci.yml
  .mergify.yml
  .scalafmt-common.conf
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/FluxDensitySubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/GcalStepConfigSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/GmosCcdModeSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BandBrightnessSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BandNormalizedSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/EmissionLinesSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ConstraintSetDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ExposureTimeModeDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/GeneratedSequenceDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/InputStreamSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ProposalDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TimingWindowDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ProposalDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionEvent.scala
  model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
  project/plugins.sbt
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbTargetWithId.scala
Labels: lucuma-schemas, model, testkit

#299 Fix and add enum mappings
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Labels: lucuma-schemas
