Repository gemini-hlsw/lucuma-schemas, pull requests merged in 2023-02, with the labels that each got.

#216 BrightnessValue + WavelengthRange decoders
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/SpectralDefinitionDecoders.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
Labels: lucuma-schemas

#222 Newtypes and refinements in core
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/decoders/SpectralDefinitionDecoders.scala
  lucuma-schemas/src/test/resources/t3.json
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
Labels: lucuma-schemas

#223 Define common subqueries
  .mergify.yml
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/AngleSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ConstraintSetSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ConstraintsSummarySubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/OffsetSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/PosAngleConstraintSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/TargetWithIdSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/TimeSpanSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/WavelengthDitherSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/WavelengthRangeSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/WavelengthSubquery.scala
  model/src/main/scala/lucuma/schemas/decoders/ConstraintSetDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ExposureTimeModeDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/PosAngleDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ProposalDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/SEDDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/SequenceDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/SourceProfileDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/SpectralDefinitionDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/TargetDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/package.scala
  model/src/main/scala/lucuma/schemas/model/ConstraintsSummary.scala
  model/src/main/scala/lucuma/schemas/model/Dataset.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionEvent.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/TargetWithId.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
  templates/src/main/resources/lucuma/schemas/ObservationDB.comments.graphql
  templates/src/main/scala/lucuma/schemas/ObservationDB.scala
  templates/src/main/scala/lucuma/schemas/odb/FluxDensitySubquery.scala
  templates/src/main/scala/lucuma/schemas/odb/GcalStepConfigSubquery.scala
  templates/src/main/scala/lucuma/schemas/odb/GmosCcdModeSubquery.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbConstraintsSummary.scala
Labels: templates, lucuma-schemas

#226 Migrate missing tests + generators
  .mergify.yml
  build.sbt
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbTargetWithId.scala
  tests/src/test/scala/lucuma/schemas/model/ConstraintsSummarySuite.scala
  tests/src/test/scala/lucuma/schemas/model/TargetWithIdSuite.scala
Labels: testkit

#227 Fix PosAngleConstraintSubquery
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/PosAngleConstraintSubquery.scala
Labels: lucuma-schemas

#229 Update core, rename to WavelengthDelta
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/WavelengthDeltaSubquery.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
Labels: lucuma-schemas, model

#230 Move "toInput" methods here
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Labels: lucuma-schemas

#239 Fix copy-paste error in subquery
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/EmissionLinesSubquery.scala
Labels: lucuma-schemas
