Repository gemini-hlsw/lucuma-schemas, pull requests merged in 2024-10, with the labels that each got.

#571 Add ScienceBand enum
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Labels: lucuma-schemas

#572 Skip config in visits query
  .scalafix.conf
  build.sbt
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  lucuma-schemas/src/test/resources/visitGmosNorth.json
  lucuma-schemas/src/test/resources/visitGmosSouth.json
  lucuma-schemas/src/test/resources/visitNoSequence.json
  lucuma-schemas/src/test/resources/visitsQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
Labels: lucuma-schemas, model

#576 Update schema for banded time charges
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Labels: lucuma-schemas

#580 Update libs and schema
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Labels: lucuma-schemas

#586 Don't query itc with the sequence
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
Labels: lucuma-schemas

#592 Update schema for observation workflow
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Labels: lucuma-schemas

#598 Migrate to latest schema with changes in the sequence
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  lucuma-schemas/src/test/resources/visitGmosNorth.json
  lucuma-schemas/src/test/resources/visitGmosSouth.json
  lucuma-schemas/src/test/resources/visitsQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
Labels: lucuma-schemas, model, skip-sc
