Repository gemini-hlsw/lucuma-schemas, pull requests merged in 2024-05, with the labels that each got.

#479 Add AtomStage enum mapping
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Labels: lucuma-schemas

#480 Method to extend ExecutionVisits list
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
Labels: lucuma-schemas, model

#482 Add AtomExecutionState to AtomRecord
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/test/resources/visitGmosNorth.json
  lucuma-schemas/src/test/resources/visitGmosSouth.json
  lucuma-schemas/src/test/resources/visitsQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/enums/AtomExecutionState.scala
Labels: lucuma-schemas, model

#483 Add atom executionState to Visits subquery
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
Labels: lucuma-schemas

#490 Core updates
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ProposalDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/ConstraintSetDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ExposureTimeModeDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/PosAngleDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/ProposalDecoders.scala
  model/src/main/scala/lucuma/schemas/decoders/package.scala
Labels: lucuma-schemas, model

#488 Update schema, add generatedIds to model
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
Labels: lucuma-schemas, model

#492 Add missing enum instance to AtomExecutionState
  model/src/main/scala/lucuma/schemas/model/enums/AtomExecutionState.scala
Labels: model

#493 Steps can also be abandoned
  model/src/main/scala/lucuma/schemas/model/enums/StepExecutionState.scala
Labels: model
