Repository gemini-hlsw/lucuma-schemas, pull requests merged in 2024-12, with the labels that each got.

#615 Schema and lib updates
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TargetDecodersSuite.scala
Labels: lucuma-schemas

#617 Changes for unified attachments
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  model/src/main/scala/lucuma/schemas/enums/DynamicEnums.scala
  model/src/main/scala/lucuma/schemas/enums/ObsAttachmentType.scala
  model/src/main/scala/lucuma/schemas/enums/ProposalAttachmentType.scala
Labels: lucuma-schemas, model

#619 More helper methods and the ConfigurationRequestStatus enum
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
Labels: lucuma-schemas

#626 Remove Eq instance for ProposalStatus since it is also Enumerated
  model/src/main/scala/lucuma/schemas/enums/ProposalStatus.scala
Labels: model
