Repository gemini-hlsw/lucuma-schemas, pull requests merged in 2024-03, with the labels that each got.

#433 Update schema - removal of GraphQL interfaces
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQuery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  lucuma-schemas/src/test/resources/visitGmosNorth.json
  lucuma-schemas/src/test/resources/visitGmosSouth.json
  lucuma-schemas/src/test/resources/visitNoSequence.json
  lucuma-schemas/src/test/resources/visitsQuery.graphql
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
Labels: lucuma-schemas, model

#441 Update lucuma-core/odb
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbTargetWithId.scala
Labels: lucuma-schemas, testkit

#445 Make records and visits covariant on DynamicConfig
  build.sbt
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
Labels: model
