Repository gemini-hlsw/lucuma-schemas, pull requests merged in 2025-04, with the labels that each got.

#724 Migrate core changes
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ConstraintSetDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
Labels: lucuma-schemas, model

#725 Update schema
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Labels: lucuma-schemas

#726 Add SlewStage to enums
  build.sbt
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Labels: lucuma-schemas

#741 Add a few extra useful methods
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
Labels: lucuma-schemas, model

#742 Update schemas to support F2 longslit
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/BasicConfigurationSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/ExposureTimeModeDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/TimingWindowDecodersSuite.scala
  lucuma-schemas/src/test/scala/lucuma/schemas/decoders/VisitDecodersSuite.scala
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/BasicConfiguration.scala
  model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Labels: lucuma-schemas, model, testkit

#748 Library and schema updates
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
Labels: lucuma-schemas
