Repository gemini-hlsw/lucuma-schemas, pull requests merged in 2025-05, with the labels that each got.

#753 Remove f2 fields
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ObservingModeSubquery.scala
  model/src/main/scala/lucuma/schemas/model/ObservingMode.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbObservingMode.scala
Labels: lucuma-schemas, model, testkit

#755 Update schema and libs for CalculatedValue + F2 stuff
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  model/src/main/scala/lucuma/schemas/decoders/CoreModelDecoders.scala
Labels: lucuma-schemas, model

#759 Add Flamingos2 visit model, overall queries and decoders
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/Flamingos2DynamicConfigSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/FluxDensitySubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/GcalStepConfigSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/GmosCcdModeSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/GmosNorthDynamicConfigSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/GmosSouthDynamicConfigSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/SequenceQueriesGQL.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/TimeSpanSubquery.scala
  lucuma-schemas/src/clue/scala/lucuma/schemas/odb/WavelengthSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/ExecutionVisitsSubquery.scala
  lucuma-schemas/src/main/scala/lucuma/schemas/odb/input/package.scala
  model/src/main/scala/lucuma/schemas/decoders/VisitDecoders.scala
  model/src/main/scala/lucuma/schemas/model/AtomRecord.scala
  model/src/main/scala/lucuma/schemas/model/ExecutionVisits.scala
  model/src/main/scala/lucuma/schemas/model/StepRecord.scala
  model/src/main/scala/lucuma/schemas/model/Visit.scala
  testkit/src/main/scala/lucuma/schemas/model/arb/ArbBasicConfiguration.scala
Labels: lucuma-schemas, model, testkit

#763 Update schema, add enum mapping for GuideProbe
  build.sbt
  lucuma-schemas/src/clue/resources/lucuma/schemas/ObservationDB.graphql
  lucuma-schemas/src/clue/scala/lucuma/schemas/ObservationDB.scala
Labels: lucuma-schemas
